<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-6">
          <img src="assets/home3.jpg" alt="Image 1" class="img-fluid rounded-circle">
        </div>
        <div class="col-6">
          <img src="assets/home4.jpg" alt="Image 2" class="img-fluid rounded-circle">
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
     
      <p class="lead">
        Welcome to <strong>Journey Junction</strong>, your ultimate destination for hassle-free travel planning and booking.
        Our platform is designed to simplify your travel experience, offering a comprehensive selection of transportation options including trains, buses, and more.
      </p>
      <p>
        At <strong>Journey Junction</strong>, we understand that every journey is unique, which is why we strive to provide you with a seamless booking experience tailored to your needs.
        Whether you're planning a quick weekend getaway, a cross-country adventure, or a business trip, our user-friendly interface and advanced search features make it easy to find the best travel options at the most competitive prices.
      </p>
      <p>
        With our extensive network of trusted partners and suppliers, you can book with confidence, knowing that you're getting the best deals and reliable service every time.
        From budget-friendly options to luxury accommodations, we have something for every traveler.
      </p>
      <p>
        But we're more than just a booking platform – we're your travel companion every step of the way.
        Our team of dedicated professionals is here to assist you with any questions or concerns, ensuring that your journey is smooth and stress-free from start to finish.
        Whether you're embarking on a solo adventure, planning a family vacation, or organizing a group trip with friends, let <strong>Journey Junction</strong> be your trusted guide to unforgettable experiences.
        Start exploring the world with us today!
      </p>
    
  </div>
  </div>
</div>
