.col-6 img {
    height: 300px;
    margin-top: 100px;
    width: 800px;
}

p {
    transition: all 0.3s ease-in-out; /* Add transition effects */
  }
  
  p:hover {
    transform: scale(1.05); /* Example: Scale the paragraph on hover */
    background-color: #77afe7;

  }