<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/Home" method="post">
<h1>REGISTRATION FORM</h1><br>

<label for="name">Input name</label>
<input type="text" name="name" required>  
<br>
<br>

<label for="email">Email</label>
<input type="email" name="email" required >
<br>
<br>

<label for="contact">Contact</label>
<input type="number" name="contact" required>
<br>
<br>

<label for="password">password:</label>
<input type="password" name="password" required>
<br>
<br>
<button type="submit">Submit</button>
</form>

</body>
</html>