<div class="container">
  <div class="row align-items-center">
    <!-- Left Column with Image -->
    <div class="col-md-6" >
      <img src="assets/homescreen.jpg" alt="Left Image" class="img-fluid rounded  blue-shadow">
    </div>
    <!-- Right Column with Text -->
    <div class="col-md-6">
      <div class="text-center text-md-right">
        <h1 class="display-4 text-primary mb-4">Welcome to Journey Junction!</h1>
        <p class="lead text-muted mb-4  paragraph-custom">Discover seamless travel solutions with our platform. Book your bus or train journey effortlessly, and embark on unforgettable adventures. Start your journey with ease today!</p>
        <div class="options">
          <h2>Choose Your Transport Option</h2>
          <button class="btn btn-outline-primary me-2 btn-lg" (click)="navigateToTrain()">Train</button>
          <button class="btn btn-outline-primary btn-lg" (click)="navigateToBus()">Bus</button>
        </div>
      </div>
    </div>
  </div>
</div>
