.registration-form {
  max-width: 400px;
  margin: 0 auto;
}
.registration-form h2 {
  margin-bottom: 20px;
}
.registration-form{
  transition: all 0.3s ease-in-out; 
}
.registration-form:hover{
  transform: translateY(-5px); /* Move the card slightly up on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add box shadow on hover */
}